<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="../../assets/images/logo.png" class="topbar-logo" width="200px" >
        </div>
        <div class="login-panel-content">
            <div role="alert" *ngIf="alert">
                <p-message severity="error" text="Incorrect Username or Password"></p-message>
            </div>
            <div class="ui-g" [formGroup]="loginForm">
                <div class="ui-g-12">
                    <h3>Sign-in</h3>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input pInputText type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Username" [(ngModel)]="credintials.username" formControlName="username">
                    </span>
                </div>
                <div class="ui-g-12" *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                    <p-message severity="error" text="This field is required"></p-message>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="password" class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Password" [(ngModel)]="credintials.password" formControlName="password">
                    </span>
                </div>
                <div class="ui-g-12" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                    <p-message severity="error" text="This field is required"></p-message>
                </div>
                <div class="ui-g-12">
                        <input value="Login" type="button" pButton (click)="login()" [disabled]="!loginForm.valid" style="font-size: 1.25em">
                </div>
                <div class="ui-g-12"> 
                    Don't have an account? <a routerLink="/register"> <span style="color:#26a69a; font-weight: bold"> Sign Up </span> </a> now. 
                </div>
            </div>
        </div>
    </div>
</div>