<div class="row">
    <div class="row">
        <div class="input-field col s12 m12">
            <input id="image_name" type="text" class="validate" [(ngModel)]="imageName">
            <label class="active" for="image_name">Image Name</label>
        </div>
    </div>   
    <div class="row">
        <div class="input-field col s12 m12">
            <textarea id="image_desc" class="materialize-textarea" [(ngModel)]="imageDescription"></textarea>
            <label class="active" for="image_desc">Description</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn waves-effect waves-light" name="action" (click)="submitData()" [disabled]="imageName=='' || imageName==undefined">Submit</button>
        </div>
    </div>
</div>
            

