<div class="row">
    <div class="row">
        <div class="input-field col s12 m12">
            <input id="album_name" type="text" class="validate" [(ngModel)]="albumName">
            <label for="album_name">Album Name</label>
        </div>
    </div>   
    <div class="row">
        <div class="input-field col s12 m12">
            <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="albumDescription"></textarea>
            <label for="textarea1">Description</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn waves-effect waves-light" name="action" (click)="submitData()" [routerLink]="['/home/addphoto']">Submit</button>
        </div>
    </div>
</div>
            
