<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active':app.mobileMenuActive}">
    <ul class="layout-menu" (click)="app.hideMobileMenu($event)">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="pi pi-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/gallery']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="pi pi-images"></i>
          <span>Gallery</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="pi pi-user"></i>
          <span>Profile</span>
        </a>
      </li>
    </ul>
</div>
  