<p-toast [style]="{marginTop: '80px'}"></p-toast>

<h3>Edit your Profile</h3>
<div class="ui-g-6 ui-md-6 ui-sm-12">
    <p-card>
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        Full Name
                    </div>
                    <div class="ui-g-8">
                        <input pInputText type="text" [(ngModel)]="user.fullname"/>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        Username
                    </div>
                    <div class="ui-g-8">
                        <input pInputText type="text" [(ngModel)]="user.username" [disabled]="disabled"/>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        Password
                    </div>
                    <div class="ui-g-8">
                        <input type="password" pPassword [(ngModel)]="user.password"/>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        Email
                    </div>
                    <div class="ui-g-8">
                        <input pInputText type="email" [(ngModel)]="user.email" />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        DOB
                    </div>
                    <div class="ui-g-8">
                        <input type="date" [(ngModel)]="user.dob">
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        Gender
                    </div>
                    <div class="ui-g-8">
                        <div class="ui-g radiobuttons">
                            <div class="ui-g-12"><p-radioButton name="group1" value="Male" label="Male" [(ngModel)]="user.gender"></p-radioButton>&nbsp;
                            <p-radioButton name="group1" value="Female" label="Female" [(ngModel)]="user.gender"></p-radioButton>&nbsp;
                            <p-radioButton name="group1" value="Other" label="Other" [(ngModel)]="user.gender"></p-radioButton></div>
                        
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                    </div>
                    <div class="ui-g-8">
                        <button pButton label="Save" type="button" (click)=saveDetails() [disabled]="user.password==''"></button>
                    </div>
                </div>
            </div>
        </div> 
    </p-card>
</div>