<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="center" key="pc" (onClose)="onRejectP()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirmP()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onRejectP()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{selectedAlbum}}</span>
            <!-- <p-splitButton [style]="{'float':'right'}" label="Save" [model]="items"></p-splitButton> -->
            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="pi pi-plus" class="ui-button-info" (click)="addNewPhoto()" pTooltip="Add New Photo" tooltipPosition="top" placeholder="Top" style="margin:5px"></button>
                <button pButton type="button" icon="pi pi-pencil" class="ui-button-success" (click)="update()" pTooltip="Edit Album Details" tooltipPosition="top" placeholder="Top" style="margin:5px"></button>
                <button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="delete()" pTooltip="Delete Album" tooltipPosition="top" placeholder="Top" style="margin:5px"></button>
            </div>
        </div>
        
    </p-header>
    <span *ngIf="selectedAlbumDescription==undefined || selectedAlbumDescription=='' " style="font-style: italic">Add description</span>
        {{selectedAlbumDescription}}
</p-panel>
<br>
<p-dataView #dv [value]="images" [paginator]="true" [rows]="12" paginatorPosition="both" filterBy="filename,title" [sortField]="sortField" [sortOrder]="sortOrder" emptyMessage="No pictures found. Upload one!">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <!--Available match modes are "contains"(Default), "startsWith", "endsWith", "equals", "notEquals", "in", "lt", "lte", "gt" and "gte"-->
                        <input type="search" pInputText placeholder="Search by Title or Filename" (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <button pButton type="button" icon="pi pi-trash" [disabled]="length==0" label="Delete All Pictures" class="ui-button-danger" (click)="deleteAllPictures()" style="margin:5px"></button>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-pic pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-5" style="text-align:center">
                <img src="https://snapshots-server.herokuapp.com/view/{{pic.filename}}" (click)="selectImage($event, pic)" style="cursor: pointer" width="50%" >
            </div>
            <div class="ui-g-12 ui-md-5 ui-sm-10 car-details">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6" *ngIf='pic.title'>Title: </div>
                    <div class="ui-g-10 ui-sm-6" *ngIf='pic.title'><b>{{pic.title}}</b></div>

                    <div class="ui-g-2 ui-sm-6" *ngIf="pic.description">Description: </div>
                    <div class="ui-g-10 ui-sm-6" *ngIf="pic.description"><b>{{pic.description}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Filename: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{pic.filename}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Type: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{pic.mimetype}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Size: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{pic.size / (1024 * 1024) | number:'1.2-3'}} MB</b></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-2 ui-sm-2 search-icon">
                <button #btn type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event); onClickMenu(pic)"></button>    
                <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
            </div>
        </div>
    </ng-template>
    <ng-template let-pic pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3 ui-sm-12">
            <img src="https://snapshots-server.herokuapp.com/view/{{pic.filename}}"  width="100%"  (click)="selectImage($event, pic)" style="cursor: pointer">
        </div>
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '1000px'}"  (onAfterHide)="onDialogHide()" >
    <div class="ui-g" *ngIf="selectedImage">
        <div class="ui-g-12" style="text-align:center">
            <img src="https://snapshots-server.herokuapp.com/view/{{selectedImage.filename}}" height="500px">
        </div>
        <!-- <div class="ui-g-4">Vin: </div>
        <div class="ui-g-8">{{selectedCar.vin}}</div>

        <div class="ui-g-4">Brand: </div>
        <div class="ui-g-8">{{selectedCar.brand}}</div>

        <div class="ui-g-4">Year: </div>
        <div class="ui-g-8">{{selectedCar.year}}</div>

        <div class="ui-g-4">Color: </div>
        <div class="ui-g-8">{{selectedCar.color}}</div> -->
    </div>
</p-dialog>